<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Adarsh</h2>
    <% for( let i of comments) { %>
             <h2> id : <%= i.id %></h2>
         <h3> title : <%= i.title %></h3>
         <h4> Author : <%= i.author%></h4>
         <h5> year: <%=i.year%></h5>
         <a href="/blogs/<%=i.id%>">Edit</a>

         <form action="/blogs/ <%=i.id %> ?_method=DELETE" method="POST">
            <button>delete</button>
           </form> 
         <% } %>
         
    
</body>
</html>